@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    width:300px;
    height:100px;
    display:inline-block;
    margin:20px;
    
}

#subtitle {
    background: black;
    color: white;
    width:300px;
    height:60px;
    display:inline-block;
    margin:1px;
}

.topic {
    background: lightgray;
    display:inline-block;
    margin:60px;/*FIX THIS LINE*/
}
h1{
    display:inline-block;
    font-size:20px;
    width:250px;
    height:55px;
}
h2{
    display:inline-block;
    margin:10px;
}